<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostMadriz</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls</a> </h1>
    </div>
    <div>
        <p>Publicado: 09 de Julio de 2022</p>
        <h1><a href="/">Mi Primer Post</h1></a> 
        <p>Routa para desarrolladores Backend JR</p>
    </div>
    <br>
    <div>
        <p>Publicado: 09 de Julio de 2022</p>
        <h1><a href="/">Mi segundo post</h1></a> 
        <p>Les contaremos que Frameswork elegimos, porque lo elegimos y donde lo aprendimos</p>
    </div>
</body>
</html>